.cruise-logo {
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 750px;
	margin-right: 600px;
	text-align: center;
	background-color: #FFFFFF;
}

.user {
	height: 35px;
	margin-right: 10px;
	border-radius: 20px;
}
